<div class="row">
    {{#each notes}}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                      {{title}}/{{type}} 
                      <div>
                          <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                      </div>
                      
                    </h4>
                    <img src="/images/{{description}}" alt="" class="img-fluid">
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Delete
                        </button>
                    </form>
                   
                </div>
            </div>
        </div>    
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hello {{nameUser}}</h1>
                <p class="lead">There are no notes yet</p>
                <a href="/notes/add" class="btn btn-success btn-block">¡Crete one!</a>
            </div>
        </div>

    {{/each}}
</div>